@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main-color: #040714;
    --site-color: #fff;
    --active-color: #0063e5;
    --first-color: #08132f;
    --second-color: #090b13;
    --third-color: #1b202a;
    --bg-alert-danger: #f8d7da;
    --color-alert-danger: #842029;
    --border-alert-danger: #f5c2c7;
    --bg-alert-success: #0f5132;
    --border-alert-success: #badbcc;
}

body{
    background-color: var(--main-color);
    color: var(--site-color);
    /* font-family: 'Ubuntu', 'sans-serif'; */
}

/* Início mensagem alerta */
.alertDanger {
    background-color: var(--bg-alert-danger);
    color: var(--color-alert-danger);
    margin: 10px 0;
    border: 1px solid var(--border-alert-danger);
    border-radius: 6px;
    padding: 7px;
}

.alertSuccess {
    background-color: var(--bg-alert-success);
    color: var(--color-alert-success);
    margin: 10px 0;
    border: 1px solid var(--border-alert-success);
    border-radius: 6px;
    padding: 7px;
}
/* Fim mensagem de alerta */ 